<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
        <title>Add User</title>
    </head>
    <body>
        <div class="container">
            <div class="create">
                <h1>Add a new user</h1>
                <form action="/users/new" method="POST">
                    <table>
                        <tr>
                            <td><label for="fname">First Name</label></td>
                            <td><input type="text" name="first_name" id="fname"></td>
                        </tr>
                        <tr>
                            <td><label for="lname">Last Name</label></td>
                            <td><input type="text" name="last_name" id="lname"></td>
                        </tr>
                        <tr>
                            <td><label for="email">Email</label></td>
                            <td><input type="text" name="email" id="email"></td>
                        </tr>
                        <tr>
                            <td><input type="submit" value="Create"></td>
                        </tr>
                    </table>
                 </form>
               <a href="/">Go Back</a>
            </div>
        </div>
    </body>
</html>
