<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
        <title>Success Page</title>
    </head>
    <body>
        <div class="container">
            <div class="success" id="success">
                {% with messages = get_flashed_messages()%}
                    {%if messages%}
                        {%for message in messages%}
                            <p>{{message}}</p>
                        {%endfor%}
                    {%endif%}
                {%endwith%}
            </div>
            <h2>Email Addresses Entered:</h2>
            <table>
                {%for emails in all_emails%}
                <tr>
                    <td>{{emails.email}}   {{emails.entered_date}}</td>
                </tr>
                {%endfor%}
            </table>
        </div>
    </body>
</html>
