<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% load static %}
        <link rel="stylesheet" href="{% static 'resftul/style.css' %}">
        <title>User New</title>
    </head>
    <body>

        <h2>Add a new user</h2>
        <form action="/users/create" method="post">
            {% csrf_token %}
            <table>
                <tr><td>Full Name:</td></tr>
                <tr><td><input type="text" name="fname"></td></tr>
                <tr><td>Last Name:</td></tr>
                <tr><td><input type="text" name="lname"></td></tr>
                <tr><td>Email:</td></tr>
                <tr><td><input type="text" name="email_add"></td></tr>
                <tr><td><input type="submit" value="Update"></td></tr>
                <tr>
                    <td>
                        <ul>
                            <li><a href="/">Go Back</a></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
