*{
    padding: 0;
    margin: 0;
}
.container{
    margin: 0 auto;
    width: 700px;
    padding: 30px;
    border: 1px solid black;
    background: #FFECDA;
}
form{
    margin-left: 200px;
}
.success{
    margin-left: 250px;
    margin-bottom: 30px;
}
.success p{
    border: 2px solid black;
    display: inline-block;
    padding: 5px 10px;
    background-color: red;
    color: white;
}
#success p{
    width: 200px;
    background-color: #00A90A;
    color: black;
}
table{
    margin-left: 200px;
}
h2{
    text-decoration:underline;
    margin-left: 170px;
}
