<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="~/css/style.css">
        <title>Contact Page</title>
    </head>
    <body>
        <div class="container">
            <div class="nav-bar">
                <p>Enkhbaatar Battulga</p>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/project">Projects</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="contact">
                <p>Github: AlexBattulga</p>
                <form action="#">
                    <table>
                        <tr>
                            <td><input type="text" name="fullname" placeholder="Full Name"></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="email" placeholder="Email address"></td>
                        </tr>
                        <tr>
                            <td><textarea name="message" cols="50" rows="10"></textarea></td>
                        </tr>
                        <tr>
                            <td><input type="submit" value="Send"></td>
                        </tr>
                    </table>
                </form>
                <p>Thank you for visiting to my Portfolio</p>
            </div>
        </div>
    </body>
</html>