<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="~/css/style.css">
        <title>Home Page</title>
    </head>
    <body>
        <div class="Container">
             <div class="container">
                 <div class="nav-bar">
                     <p>Enkhbaatar Battulga</p>
                     <ul>
                         <li><a href="/">Home</a></li>
                         <li><a href="/project">Projects</a></li>
                         <li><a href="/contact">Contact</a></li>
                     </ul>
                 </div>
                 <div class="side-bar">
                     <img src="~/image/alex.jpg" alt="Alex" width="130px" height="140px">
                     <p>About me</p>
                 </div><div class="content">
                     <p>I graduated from Virginia International University with Bachelor's degree in computer science and current student at Coding Dojo.</p>
                 </div>
             </div>
        </div>
    </body>
</html>